.form__input_type_error {
  border: 1px solid #EE3465;
}

.form__input_type_error:focus {
  border: 1px solid #EE3465;
}

.form__input-error{
  margin: 4px 0 0;
  height: 12px;
  max-width: 396px;
  font-size: 10px;
  line-height: 1.2;
  color: #EE3465;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .form__input-error{
    max-width: 260px;
  }
}
