.navtab {
  width: 308px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.navtab__link {
  width: 96px;
  height: 36px;
  border-radius: 10px;
  background-color: #303030;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navtab__link-text {
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .navtab {
    width: 258px;
  }

  .navtab__link {
    width: 82px;
    height: 26px;
  }

  .navtab__link-text {
    font-size: 10px;
    line-height: 1.6;
  }
}